body{
	background-color: #000000;
}
span{
	color:#A566FF;
	font-family:cursive;
}
button{
	color:#D941C5;
    height:50px;
    width:100px;
    margin: auto;
}
h4{
	color:#8D8D8D;
}
#div1{
	background-color: #FFD9EC;
}
#div2{
	background-color: #FAF4C0;
}
#div3{
	background-color: #FAE0D4;
}
#div4{
	background-color: #B2EBF4;
}
#div5{
	height: 50px;
	width: 120px;
	background-color: #BCD2EE;
	margin: auto;
	text-align: center;
	border-radius: 5px;
	border:2px solid #6495ED;
}
#div6{
	background-color: #CEFBC9;
}
#div7{
	background-color: #6CEEFF;
}
